.breadcrumbs {
    .item:not(:last-child):after {
        color: #6E6E73;
    }

    a {
        color: #A0A09C;

        &:hover {
            color: #D84B20;
        }
    }

    strong {
        color: #D4D4D0;
    }
}

.block.widget .block-title strong {
    color: #F0EDE6;
    font-size: 2.2rem;
}
