@font-face {
    font-family: 'Cormorant Garamond';
    src: url('@{baseDir}fonts/cormorant-garamond-bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
