compose.versions.yaml
compose.healthcheck.yaml.bak
env/
docker-magento-rootCA.pem
rootCA.pem
/src/auth.json
/src/app/etc/env.php
.env
.env.*
!.env.example
.vscode/settings.json

src/*
!src/app/
src/app/*
!src/app/code/
!src/app/code/**
/src/generated/
/src/var/
/src/vendor/
/src/pub/static/
/src/pub/media/
/src/phpserver/
/src/setup/pub/
/src/dev/
!src/app/etc/
src/app/etc/*
!src/app/etc/config.php
/src/lib/
/src/setup

.idea/
.vscode/
.DS_Store
Thumbs.db
*.log
*.tmp
*.temp
*.swp
*.swo
*~

.phpunit.result.cache
.phpunit.cache/
.php-cs-fixer.cache
.phpstan.cache/
coverage/

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*