<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Model\Product">
        <plugin name="webjump_gustavo_catalog_product_add_suffix"
                type="Webjump\Gustavo\Plugin\Catalog\Model\AddProductSuffixPlugin"
                sortOrder="10"
                disabled="false"/>
    </type>
</config>
