@toolbar-element-background: @form-element-input__background;
@toolbar-element__color: @text__color;

& when (@media-common = true) {

    body .modes-mode.active {
        color: @text__color__intense;
    }

    .toolbar select {
        box-shadow: none;
    }
}